.post {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-post-post1-icon-avatar user-environment-my-posts-post-post1-user-name likes'
								'user-environment-my-posts-post-post1-text user-environment-my-posts-post-post1-text user-environment-my-posts-post-post1-text'
								'user-environment-my-posts-post-post1-image user-environment-my-posts-post-post1-image user-environment-my-posts-post-post1-image'
								'button-delete button-delete button-delete';
	grid-template-rows: 40px 1fr auto 30px;
	grid-template-columns: 40px 1fr auto;
	grid-gap: 15px;
	background-color: rgba(182, 178, 197, 0.3);
	border: 2px solid rgba(193, 185, 223);
	border-radius: 15px;
	padding: 15px 33px 15px 33px;
}

.iconAvatar {
	grid-area: user-environment-my-posts-post-post1-icon-avatar;
	max-width: 40px;
	max-height: 40px;
	border-radius: 5px;
}

.userName {
	grid-area: user-environment-my-posts-post-post1-user-name;
	font-weight: 500;
}

.postText {
	grid-area: user-environment-my-posts-post-post1-text;
	word-break: break-word;
}

.postImage {
	grid-area: user-environment-my-posts-post-post1-image;
	width: 500px;
	justify-self: center;
	border-radius: 15px;
}

.likes {
	display: grid;
	grid-template-areas: 'counter heart';
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	grid-area: likes;
	align-items: center;
	border: 2px solid rgb(111, 155, 184);
	border-radius: 10px;
	background-color: rgba(194, 213, 219, 0.6);
	min-width: 60px;
	padding: 5px;
}

.counter {
	grid-area: counter;
	font-size: 17px;
	font-weight: 500;
	color: #0b3e5c;
	justify-self: center;
}

.heart {
	grid-area: heart;
	position: relative;
	width: 10px;
	height: 16px;
	background-color: rgb(150, 204, 221);
	box-shadow: -1px 0px 2px #0b3e5c;
	border-radius: 50px 50px 0 0;
	transform: rotate(315deg);
	justify-self: center;
}

.heart:before {
	position: absolute;
	width: 16px;
	height: 10px;
	left: 0;
	bottom: 0;
	content: "";
	background-color: rgb(150, 204, 221);
	box-shadow: 0px 3px 3px #0b3e5c;
	border-radius: 0 50px 50px 0;
}

.heart:hover:before,
.heart:hover {
	box-shadow: none;
}

.buttonDeletePost {
	grid-area: button-delete;
	width: 30px;
	grid-column: 3/4;
	justify-self: end;
	border-radius: 5px;
	padding: 0;
	border: 2px solid rgba(87, 15, 42, 0.5);
	background-color: rgba(87, 15, 42, 0.1);
	cursor: pointer;
}

.buttonDeletePost:active {
	width: 30px;
	height: 30px;
	border: 2px solid rgb(87, 15, 42, 1);
	background-color: rgba(87, 15, 42, 0.2);
}