.myProjects {
	grid-area: user-environment-my-projects;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	display: grid;
		grid-template-areas: 'user-environment-my-projects-header user-environment-my-projects-header'
									'user-environment-my-projects-items user-environment-my-projects-items';
	grid-template-rows: 40px 1fr;
	grid-template-columns: 1fr 1fr;
}

.myProjects a {
	color: #000;
	display: block;
}