.signInBlock {
	display: grid;
	justify-items: center;
}

.signInAvatar {
max-width: 50px;
	max-height: 50px;
}

.signInName {
font-size: 14px;
}

.active {
	color: rgb(134, 216, 219);
}

.noSignIn {
	font-size: 18px;
}