.header {
	grid-area: user-environment-followers-header;
	display: grid;
	grid-template-areas: 'user-environment-followers-title user-environment-followers-all';
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
}

.title {
	grid-area: user-environment-followers-title;
	padding: 0px 0px 0px 45px;
	align-self: center;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
}

.all {
	grid-area: user-environment-followers-all;
	justify-self: end;
	align-self: center;
	padding: 0px 30px 0px 0px;
}