.mainContent {
	grid-area: main-content;
	display: grid;
}

.user {
	display: grid;
	grid-gap: 5px;
	grid-template-areas: 'user-cover-picture user-cover-picture'
		'user-avatar user-information';
	grid-template-rows: 300px 1fr;
	grid-template-columns: 290px 1fr;
	padding: 0px 0px 5px 0px;
}

.coverPicture {
	grid-area: user-cover-picture;
	height: 300px;
	border-radius: 15px;
	background: url('./../img/cover_picture.png') center no-repeat;
}

.avatar {
	grid-area: user-avatar;
	display: grid;
	grid-template-areas: 'user-avatar-continer'
		'social-networks';
	grid-gap: 5px;
}

.avatarContiner {
	grid-area: user-avatar-continer;
	justify-self: center;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	display: grid;
	grid-template: minmax(auto, 170px) / minmax(auto, 170px);
	align-items: center;
	justify-items: center;

}

.avatarImage {
	width: 155px;
	height: 155px;
	border-radius: 15px;
	overflow: hidden;
	background: url('./../img/avatar.png') center no-repeat;
}

.information {
	grid-area: user-information;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	margin: 0px 70px;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 15px 20px 15px 20px;
	height: 224px;
	overflow: auto;
}

.name {
	font-size: 25px;
	font-weight: 800;

}

.environment {
	display: grid;
	grid-template-areas: 'user-environment-my-posts user-environment-my-projects'
		'user-environment-my-posts user-environment-follow'
		'user-environment-my-posts empty-block-2';
	grid-template-rows: 270px 465px 1fr;
	grid-template-columns: 1fr 350px;
	grid-gap: 5px;
}