.myPosts {
	grid-area: user-environment-my-posts;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	padding: 10px 20px;
}

.title {
	padding: 0px 0px 20px 30px;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px;
}