.messages {
	grid-area: messages;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	padding: 20px 30px 20px 30px;
	display: grid;
	grid-template-areas: 'messagesToMe messagesToMe'
		'messagesFromMe messagesFromMe'
		'sendMessages sendMessages';
	grid-template-rows: auto auto auto;
	grid-template-columns: 1fr 1fr;
}

.messagesToMe {
	grid-area: messagesToMe;
}

.messagesFromMe {
	grid-area: messagesFromMe;
	margin: 0px 0px 20px 0px;
}