.messages {
	grid-area: messages;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	padding: 20px 30px 20px 30px;
	display: grid;
	grid-template-areas: 'textMessages'
								'sendMessages';
	grid-template-rows: minmax(0, 1fr) minmax(0, 110px);
	grid-template-columns: 1fr;
}

.messagesText {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
}