.post1 {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-post-post1-icon-avatar user-environment-my-posts-post-post1-user-name'
		'user-environment-my-posts-post-post1-text user-environment-my-posts-post-post1-text'
		'user-environment-my-posts-post-post1-image user-environment-my-posts-post-post1-image';
	grid-template-rows: 40px 1fr 500px;
	grid-template-columns: 40px 1fr;
	grid-gap: 15px;
	background-color: rgba(182, 178, 197, 0.3);
	border: 2px solid rgba(193, 185, 223);
	border-radius: 15px;
	padding: 15px 33px 15px 33px;
}

.post1IconAvatar {
	grid-area: user-environment-my-posts-post-post1-icon-avatar;
}

.post1UserName {
	grid-area: user-environment-my-posts-post-post1-user-name;
}

.post1Text {
	grid-area: user-environment-my-posts-post-post1-text;
}

.post1Image {
	grid-area: user-environment-my-posts-post-post1-image;
	background: url('./../../../../img/post1.png') center no-repeat;
	width: 500px;
	justify-self: center;
	border-radius: 15px;
}