.socialNetworks {
	grid-area: social-networks;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	display: grid;
	grid-template: repeat(3, minmax(20px, auto)) / 200px;
	padding: 5px 15px;
	justify-self: end;
}

.socialNetworks img {
	max-width: 20px;
	max-height: 20px;
	align-self: center;
}