.signInFormContainer {
	border-radius: 15px;
	background-color: rgba(194, 213, 219, 0.6);
}

.signInFormItems {
	display: grid;
	justify-content: center;
	margin: 150px 350px 0px 350px;
	padding: 20px 0px 20px 0px;
	border: 2px solid rgba(70, 18, 29, 0.507);
	;
	border-radius: 15px;
	font-weight: 600;
	font-size: 20px;
}

.label {
	padding: 0px 0px 6px 0px;
}

.widthInput {
	width: 200px;
}

.rememberMe {
	justify-self: center;
}

.buttonSignIn {
	justify-self: center;
	margin: 6px 0px 0px 0px;
}

/* .disabledButton {
	background-color: #999999;
	border: 5px solid rgb(255, 0, 0);
} */

.error {
	color: red;
	font-size: 16px;
	justify-self: center;
}

.stylesButton {
	border-radius: 8px;
	background-color: rgba(156, 196, 158, 0.3);
	border: 2px solid rgba(130, 158, 127, 0.3);
	color: rgb(85, 119, 72);
	font-weight: 600;
	cursor: pointer;
	font-size: 18px;
	width: 100px;
	height: 40px;
}

.stylesButton:active {
	border: 2px solid rgb(91, 119, 88);
}

.stylesButton:disabled {
	border: 2px solid #999999;
	background-color: #cccccc;
	color: #666666;
	cursor: not-allowed;
}

.errorMessage {
	justify-self: center;
	color: red;
	font-size: 16px;
}

.captchaGrid {
	display: grid;
	grid-gap: 6px;
	justify-content: center;
	margin: 5px 0px 0px 0px;
}

.captchaImg {
	justify-self: center;
	width: 170px;
	height: 70px;
}

.widthInput__short {
	justify-self: center;
	width: 100px;
}