.environment {
	display: grid;
	grid-template-areas: 'user-environment-my-posts user-environment-projects'
								'user-environment-my-posts user-environment-follow';
	grid-template-rows: minmax(0, auto) 1fr;
	grid-template-columns: 1fr 350px;	
	grid-gap: 5px;
}