.header {
	grid-area: header;
	background-color: rgb(0, 0, 0);
	color: #ffffff;
	display: grid;
	grid-template-rows: minmax(80px, auto);
	grid-template-columns: 1fr minmax(auto, 305px) minmax(auto, 944px) 1fr;
	align-items: center;
	position: fixed;
	z-index: 1;
	width: 100%;
}

.logo {
	margin: 0px 0px 0px 30px;
	grid-column: 2 / 3;
	width: 120px;
	height: 70px;
	background: url('./../images/art_space_logo.png') center no-repeat;
}

.menu {
	display: grid;
	grid-template: 1fr / repeat(4, 1fr);
	justify-items: center;
	align-items: center;
	font-size: 18px;
	letter-spacing: 2px;
	grid-column: 3 / 4;
}

.auth {
	font-size: 18px;
	letter-spacing: 2px;
	grid-column: 4 / 5;
	margin: 0 auto;
	width: 100%;
}

.active {
	color: rgb(134, 216, 219);
}