.myPosts {
	grid-area: user-environment-my-posts;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	padding: 10px 20px;
}

.title {
	padding: 0px 0px 20px 30px;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px;
}

.enterPosts {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-icon-avatar user-environment-my-posts-what-new user-environment-my-posts-button-send';
	grid-template-rows: 45px;
	grid-template-columns: 40px 1fr 110px;
	grid-gap: 15px;
	margin: 0px 0px 20px 0px;
}

.iconAvatar {
	grid-area: user-environment-my-posts-icon-avatar;
}

.iconAvatar img {
	border-radius: 5px;
}

.whatNew {
	grid-area: user-environment-my-posts-what-new;
	background-color: rgba(196, 156, 173, 0.3);
	border-radius: 15px;
	padding: 0px 0px 0px 20px;
	font-size: 15px;
	border: 2px solid rgba(158, 127, 145, 0.3);
}

.buttonSend {
	grid-area: user-environment-my-posts-button-send;
	border-radius: 15px;
	font-size: 16px;
	font-weight: 600;
	background-color: rgba(156, 196, 158, 0.3);
	border: 2px solid rgba(130, 158, 127, 0.3);
	color: rgb(85, 119, 72);
}

.post {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-post1'
		'user-environment-my-posts-post2'
		'user-environment-my-posts-post3';
	grid-gap: 15px;
}

.post1 {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-post-post1-icon-avatar user-environment-my-posts-post-post1-user-name'
		'user-environment-my-posts-post-post1-text user-environment-my-posts-post-post1-text'
		'user-environment-my-posts-post-post1-image user-environment-my-posts-post-post1-image';
	grid-template-rows: 40px 1fr 500px;
	grid-template-columns: 40px 1fr;
	grid-gap: 15px;
	background-color: rgba(182, 178, 197, 0.3);
	border: 2px solid rgba(193, 185, 223);
	border-radius: 15px;
	padding: 15px 33px 15px 33px;
}

.post1IconAvatar {
	grid-area: user-environment-my-posts-post-post1-icon-avatar;
}

.post1UserName {
	grid-area: user-environment-my-posts-post-post1-user-name;
}

.post1Text {
	grid-area: user-environment-my-posts-post-post1-text;
}

.post1Image {
	grid-area: user-environment-my-posts-post-post1-image;
	background: url('./img/post1.png') center no-repeat;
	width: 500px;
	justify-self: center;
	border-radius: 15px;
}

.post2 {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-post-post2-icon-avatar user-environment-my-posts-post-post2-user-name'
		'user-environment-my-posts-post-post2-text user-environment-my-posts-post-post2-text'
		'user-environment-my-posts-post-post2-image user-environment-my-posts-post-post2-image';
	grid-template-rows: 40px 1fr 500px;
	grid-template-columns: 40px 1fr;
	grid-gap: 15px;
	background-color: rgba(182, 178, 197, 0.3);
	border: 2px solid rgba(193, 185, 223);
	border-radius: 15px;
	padding: 15px 33px 15px 33px;
}

.post2IconAvatar {
	grid-area: user-environment-my-posts-post-post2-icon-avatar;
}

.post2UserName {
	grid-area: user-environment-my-posts-post-post2-user-name;
}

.post2Text {
	grid-area: user-environment-my-posts-post-post2-text;
}

.post2Image {
	grid-area: user-environment-my-posts-post-post2-image;
	background: url('./img/post2.png') center no-repeat;
	width: 500px;
	justify-self: center;
	border-radius: 15px;
}

.post3 {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-post-post3-icon-avatar user-environment-my-posts-post-post3-user-name'
		'user-environment-my-posts-post-post3-text user-environment-my-posts-post-post3-text'
		'user-environment-my-posts-post-post3-image user-environment-my-posts-post-post3-image';
	grid-template-rows: 40px 1fr 500px;
	grid-template-columns: 40px 1fr;
	grid-gap: 15px;
	background-color: rgba(182, 178, 197, 0.3);
	border: 2px solid rgba(193, 185, 223);
	border-radius: 15px;
	padding: 15px 33px 15px 33px;
}

.post3IconAvatar {
	grid-area: user-environment-my-posts-post-post3-icon-avatar;
}

.post3UserName {
	grid-area: user-environment-my-posts-post-post3-user-name;
}

.post3Text {
	grid-area: user-environment-my-posts-post-post3-text;
}

.post3Image {
	grid-area: user-environment-my-posts-post-post3-image;
	background: url('./img/post3.png') center no-repeat;
	width: 500px;
	justify-self: center;
	border-radius: 15px;
}