.main-content {
	grid-area: main-content;
	display: grid;
}

.user {
	display: grid;
	grid-gap: 5px;
	grid-template-areas: 'user-cover-picture user-cover-picture'
		'user-avatar user-information';
	grid-template-rows: 300px 1fr;
	grid-template-columns: 290px 1fr;
	padding: 0px 0px 5px 0px;
}

.user .user-cover-picture {
	grid-area: user-cover-picture;
	height: 300px;
	border-radius: 15px;
	background: url('./img/cover_picture.png') center no-repeat;
}

.user .user-avatar {
	grid-area: user-avatar;
	display: grid;
	grid-template-areas: 'user-avatar-continer'
		'social-networks';
	grid-gap: 5px;
}

.user-avatar .user-avatar-continer {
	grid-area: user-avatar-continer;
	justify-self: center;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	display: grid;
	grid-template: minmax(auto, 170px) / minmax(auto, 170px);
	align-items: center;
	justify-items: center;

}

.user-avatar-continer .user-avatar-image {
	width: 155px;
	height: 155px;
	border-radius: 15px;
	overflow: hidden;
	background: url('./img/avatar.png') center no-repeat;
}

.user-information {
	grid-area: user-information;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	margin: 0px 70px;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 15px 20px 15px 20px;
	height: 224px;
	overflow: auto;
}

.user-name {
	font-size: 25px;
	font-weight: 800;

}

.user-avatar .user-social-networks {
	grid-area: social-networks;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	display: grid;
	grid-template: repeat(3, minmax(20px, auto)) / 200px;
	padding: 5px 15px;
	justify-self: end;
}

.social-networks-instagram,
.social-networks-twitter,
.social-networks-facebook {
	display: grid;
	grid-template: 1fr / 30px 1fr;
	font-size: 12px;
}

.user-social-networks a {
	color: #000;
}

.user-social-networks img {
	max-width: 20px;
	max-height: 20px;
	align-self: center;
}

.user-environment {
	display: grid;
	grid-template-areas: 'user-environment-my-posts user-environment-my-projects'
		'user-environment-my-posts user-environment-follow'
		'user-environment-my-posts empty-block-2';
	grid-template-rows: 270px 465px 1fr;
	grid-template-columns: 1fr 350px;
	grid-gap: 5px;
}

.user-environment-my-posts {
	grid-area: user-environment-my-posts;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	padding: 10px 20px;
}

.user-environment-my-posts-enter-posts {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-icon-avatar user-environment-my-posts-what-new user-environment-my-posts-button-send';
	grid-template-rows: 45px;
	grid-template-columns: 40px 1fr 110px;
	grid-gap: 15px;
	margin: 0px 0px 20px 0px;
}

.user-environment-my-posts-icon-avatar {
	grid-area: user-environment-my-posts-icon-avatar;
}

.icon-avatar img {
	border-radius: 5px;
}

.user-environment-my-posts-what-new {
	grid-area: user-environment-my-posts-what-new;
	background-color: rgba(196, 156, 173, 0.3);
	border-radius: 15px;
	padding: 0px 0px 0px 20px;
	font-size: 15px;
	border: 2px solid rgba(158, 127, 145, 0.3);
}

.user-environment-my-posts-button-send {
	grid-area: user-environment-my-posts-button-send;
	border-radius: 15px;
	font-size: 16px;
	background-color: rgba(156, 196, 158, 0.3);
	border: 2px solid rgba(130, 158, 127, 0.3);
}

.user-environment-my-posts-post {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-post1'
		'user-environment-my-posts-post2'
		'user-environment-my-posts-post3';
	grid-gap: 15px;
}

.user-environment-my-posts-post-post1 {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-post-post1-icon-avatar user-environment-my-posts-post-post1-user-name'
		'user-environment-my-posts-post-post1-text user-environment-my-posts-post-post1-text'
		'user-environment-my-posts-post-post1-image user-environment-my-posts-post-post1-image';
	grid-template-rows: 40px 1fr 500px;
	grid-template-columns: 40px 1fr;
	grid-gap: 15px;
	background-color: rgba(182, 178, 197, 0.3);
	border: 2px solid rgba(193, 185, 223);
	border-radius: 15px;
	padding: 15px 33px 15px 33px;
}

.user-environment-my-posts-post-post1-icon-avatar {
	grid-area: user-environment-my-posts-post-post1-icon-avatar;
}

.user-environment-my-posts-post-post1-user-name {
	grid-area: user-environment-my-posts-post-post1-user-name;
}

.user-environment-my-posts-post-post1-text {
	grid-area: user-environment-my-posts-post-post1-text;
}

.user-environment-my-posts-post-post1-image {
	grid-area: user-environment-my-posts-post-post1-image;
	background: url('./img/post1.png') center no-repeat;
	width: 500px;
	justify-self: center;
	border-radius: 15px;
}

.user-environment-my-posts-post-post2 {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-post-post2-icon-avatar user-environment-my-posts-post-post2-user-name'
		'user-environment-my-posts-post-post2-text user-environment-my-posts-post-post2-text'
		'user-environment-my-posts-post-post2-image user-environment-my-posts-post-post2-image';
	grid-template-rows: 40px 1fr 500px;
	grid-template-columns: 40px 1fr;
	grid-gap: 15px;
	background-color: rgba(182, 178, 197, 0.3);
	border: 2px solid rgba(193, 185, 223);
	border-radius: 15px;
	padding: 15px 33px 15px 33px;
}

.user-environment-my-posts-post-post2-icon-avatar {
	grid-area: user-environment-my-posts-post-post2-icon-avatar;
}

.user-environment-my-posts-post-post2-user-name {
	grid-area: user-environment-my-posts-post-post2-user-name;
}

.user-environment-my-posts-post-post2-text {
	grid-area: user-environment-my-posts-post-post2-text;
}

.user-environment-my-posts-post-post2-image {
	grid-area: user-environment-my-posts-post-post2-image;
	background: url('./img/post2.png') center no-repeat;
	width: 500px;
	justify-self: center;
	border-radius: 15px;
}

.user-environment-my-posts-post-post3 {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-post-post3-icon-avatar user-environment-my-posts-post-post3-user-name'
		'user-environment-my-posts-post-post3-text user-environment-my-posts-post-post3-text'
		'user-environment-my-posts-post-post3-image user-environment-my-posts-post-post3-image';
	grid-template-rows: 40px 1fr 500px;
	grid-template-columns: 40px 1fr;
	grid-gap: 15px;
	background-color: rgba(182, 178, 197, 0.3);
	border: 2px solid rgba(193, 185, 223);
	border-radius: 15px;
	padding: 15px 33px 15px 33px;
}

.user-environment-my-posts-post-post3-icon-avatar {
	grid-area: user-environment-my-posts-post-post3-icon-avatar;
}

.user-environment-my-posts-post-post3-user-name {
	grid-area: user-environment-my-posts-post-post3-user-name;
}

.user-environment-my-posts-post-post3-text {
	grid-area: user-environment-my-posts-post-post3-text;
}

.user-environment-my-posts-post-post3-image {
	grid-area: user-environment-my-posts-post-post3-image;
	background: url('./img/post3.png') center no-repeat;
	width: 500px;
	justify-self: center;
	border-radius: 15px;
}

.user-environment-my-projects {
	grid-area: user-environment-my-projects;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	display: grid;
	grid-template-areas: 'user-environment-my-projects-title user-environment-my-projects-all'
		'user-environment-my-projects-items user-environment-my-projects-items';
	grid-template-rows: 40px 1fr;
	grid-template-columns: 1fr 1fr;
}

.user-environment-my-projects-all {
	grid-area: user-environment-my-projects-all;
	justify-self: end;
	align-self: center;
	padding: 0px 30px 0px 0px;
}

.user-environment-my-projects-items {
	grid-area: user-environment-my-projects-items;
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	font-size: 13px;
}

.user-environment-my-projects-link-image-continer {
	width: 90px;
	height: 66px;
}

.user-environment-my-projects-link-project {
	text-align: center;
}

.user-environment-my-projects a {
	color: #000;
	display: block;
}

.user-environment-follow {
	grid-area: user-environment-follow;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	display: grid;
	grid-template-areas: 'user-environment-followers'
		'user-environment-following';
	grid-template-rows: 220px 1fr;
	grid-template-columns: 1fr;
	grid-gap: 15px;
}

.user-environment-follow a {
	color: #000;
	display: block;
}

.user-environment-followers {
	grid-area: user-environment-followers;
	display: grid;
	grid-template-areas: 'user-environment-followers-title user-environment-followers-all'
		'user-environment-followers-items user-environment-followers-items';
	grid-template-rows: 40px 1fr;
	grid-template-columns: 1fr 1fr;
}

.user-environment-followers-all {
	grid-area: user-environment-followers-all;
	justify-self: end;
	align-self: center;
	padding: 0px 30px 0px 0px;
}

.user-environment-followers-items {
	grid-area: user-environment-followers-items;
	display: grid;
	grid-template: repeat(2, 90px) / repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	font-size: 13px;
}

.user-environment-followers-items img {
	border-radius: 10px;
}

.user-environment-following {
	grid-area: user-environment-following;
	display: grid;
	grid-template-areas: 'user-environment-following-title user-environment-following-all'
		'user-environment-following-items user-environment-following-items';
	grid-template-rows: 40px 1fr;
	grid-template-columns: 1fr 1fr;
	border-top: 2px solid rgba(12, 188, 219, 0.3);
}

.user-environment-following-all {
	grid-area: user-environment-following-all;
	justify-self: end;
	align-self: center;
	padding: 0px 30px 0px 0px;
}

.user-environment-following-items {
	grid-area: user-environment-following-items;
	display: grid;
	grid-template: repeat(2, 90px) / repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	font-size: 13px;
}

.user-environment-following-items img {
	border-radius: 10px;
}

.user-environment-followers-link-name {
	text-align: center;
}

.user-environment-following-link-name {
	text-align: center;
}

.empty-block-2 {
	grid-area: empty-block-2;
}

.user-environment-my-posts-title {
	padding: 0px 0px 20px 30px;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px;
}

.user-environment-my-projects-title {
	grid-area: user-environment-my-projects-title;
	justify-self: center;
	align-self: center;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
}

.user-environment-followers-title {
	grid-area: user-environment-followers-title;
	justify-self: center;
	align-self: center;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
}

.user-environment-following-title {
	grid-area: user-environment-following-title;
	justify-self: center;
	align-self: center;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
}