.followers {
	grid-area: user-environment-followers;
	display: grid;
	grid-template-areas: 'user-environment-followers-title user-environment-followers-all'
		'user-environment-followers-items user-environment-followers-items';
	grid-template-rows: 40px 1fr;
	grid-template-columns: 1fr 1fr;
}

.title {
	grid-area: user-environment-followers-title;
	justify-self: center;
	align-self: center;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
}

.all {
	grid-area: user-environment-followers-all;
	justify-self: end;
	align-self: center;
	padding: 0px 30px 0px 0px;
}

.items {
	grid-area: user-environment-followers-items;
	display: grid;
	grid-template: repeat(2, 90px) / repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	font-size: 13px;
}

.items img {
	border-radius: 10px;
}

.linkName {
	text-align: center;
}