.footer {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr minmax(auto, 305px) minmax(auto, 944px) 1fr;
	grid-area: footer;
	background-color: rgb(51, 51, 51);
	color: #ffffff;
	align-items: center;
}

.copy {
	grid-column: 2 / 3;
	padding: 5px 0px;
}

.text {
	grid-column: 3 / 4;
	justify-self: end;
	padding: 5px 0px;
}