.information {
	grid-area: user-information;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	margin: 0px 40px;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 15px 20px 15px 20px;
	height: 261px;
	overflow: auto;
	color: rgb(39, 39, 39);
}

.name {
	font-size: 25px;
	font-weight: 800;
}

.contactsItems {
	font-size: 12px;
	display: grid;
	grid-gap: 3px;
	grid-template-areas: 'contactsItem contactsItem'
		'contactsItem contactsItem'
		'contactsItem contactsItem'
		'contactsItem contactsItem';
}

.contactsItems a {
	color: black;
}

.contactsItem {
	display: grid;
	grid-template-areas: 'contactsIcon contacts';
	grid-template-columns: 45px 1fr;
	grid-gap: 5px;
	align-items: center;
	min-width: 235px;
}

.contacts {
	grid-area: contacts;
}

.contactsIcon {
	grid-area: contactsIcon;
	justify-self: center;
}

.borderRadius {
	border-radius: 4px;
}

.lookingForAJob {
	display: grid;
	grid-template-columns: 150px 1fr;
}