.information {
	grid-area: user-information;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	margin: 0px 70px;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 15px 20px 15px 20px;
	height: 224px;
	overflow: auto;
	color: rgb(39, 39, 39);
}

.name {
	font-size: 25px;
	font-weight: 800;

}