.item {
	padding: 0px 0px 25px 0px;
}

.linkItem {
	display: grid;
	justify-items: center;
}

.linkImageContiner img {
	border-radius: 10px;
}

.name {
	text-align: center;
	padding: 0px 12px;
	word-break: break-word;
}