.enterPosts {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-icon-avatar user-environment-my-posts-what-new user-environment-my-posts-button-send';
	grid-template-rows: 1fr;
	grid-template-columns: 40px 1fr 110px;
	grid-gap: 15px;
	margin: 0px 0px 20px 0px;
}

.iconAvatar {
	grid-area: user-environment-my-posts-icon-avatar;
	background: url('./../../../../images/icon_avatar.png') center no-repeat;
	height: 40px;
	border-radius: 5px;
}

.whatIsNew {
	grid-area: user-environment-my-posts-what-new;
	background-color: rgba(230, 211, 219, 0.3);
	border-radius: 15px;
	padding: 10px;
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	border: 2px solid rgba(158, 127, 145, 0.3);
	resize: none;
	outline: none;
}

.buttonSend {
	grid-area: user-environment-my-posts-button-send;
	border-radius: 15px;
	font-size: 16px;
	font-weight: 600;
	background-color: rgba(156, 196, 158, 0.3);
	border: 2px solid rgba(130, 158, 127, 0.3);
	color: rgb(85, 119, 72);
	cursor: pointer;
}

.buttonSend:active {
	width: 108px;
	height: 86px;
	border: 2px solid rgb(91, 119, 88);
}