.enterPosts {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-icon-avatar enter-post-form';
	grid-template-rows: 1fr;
	grid-template-columns: 40px 1fr;
	grid-gap: 15px;
	margin: 0px 0px 20px 0px;
}

.iconAvatar {
	grid-area: user-environment-my-posts-icon-avatar;
	background: url('./../../../../images/post_avatar.png') center no-repeat;
	height: 40px;
	border-radius: 5px;
	overflow: hidden;
}