.followers {
	grid-area: user-environment-followers;
	display: grid;
		grid-template-areas: 'user-environment-followers-header user-environment-followers-header'
									'user-environment-followers-items user-environment-followers-items';
	grid-template-rows: 40px 1fr;
	grid-template-columns: 1fr 1fr;
}