
.app-wrapper {
	display: grid;
	grid-template-areas:
		'header'
		'app-continer'
		'footer';
	grid-template-rows: minmax(80px, auto) 1fr minmax(50px, auto);
	background-color: rgb(233, 233, 233);
	overflow: hidden;
	min-height: 100vh;
}

.app-container {
	grid-area: app-continer;
	display: grid;
	grid-template-areas: 'nav-bar main-content';
	grid-template-rows: 1fr;
	grid-template-columns: 305px 1fr;
	grid-gap: 5px;
	width: 1270px;
	margin: 0 auto;
	padding: 5px;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.mainContent {
	grid-area: main-content;
	display: grid;
}
