.post3 {
	display: grid;
	grid-template-areas: 'user-environment-my-posts-post-post3-icon-avatar user-environment-my-posts-post-post3-user-name'
		'user-environment-my-posts-post-post3-text user-environment-my-posts-post-post3-text'
		'user-environment-my-posts-post-post3-image user-environment-my-posts-post-post3-image';
	grid-template-rows: 40px 1fr 500px;
	grid-template-columns: 40px 1fr;
	grid-gap: 15px;
	background-color: rgba(182, 178, 197, 0.3);
	border: 2px solid rgba(193, 185, 223);
	border-radius: 15px;
	padding: 15px 33px 15px 33px;
}

.post3IconAvatar {
	grid-area: user-environment-my-posts-post-post3-icon-avatar;
}

.post3UserName {
	grid-area: user-environment-my-posts-post-post3-user-name;
}

.post3Text {
	grid-area: user-environment-my-posts-post-post3-text;
}

.post3Image {
	grid-area: user-environment-my-posts-post-post3-image;
	background: url('./../../../../../img/post3.png') center no-repeat;
	width: 500px;
	justify-self: center;
	border-radius: 15px;
}

.iconAvatar img {
	border-radius: 5px;
}