.follow {
	grid-area: user-environment-follow;
	background-color: rgba(194, 213, 219, 0.6);
	border-radius: 15px;
	display: grid;
	grid-template-areas: 'user-environment-followers'
								'user-environment-following';
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
	align-self: start;
}

.follow a {
	color: #000;
}